*{
box-sizing:border-box;
}

body{
margin:0px;
padding:0px;
font-family:"ubuntu",verdana,sans-serif;

}




#gloableListe{
width:73%;
position:absolute;
top:13%;
left:27%;
}




.dlist{
font-weight:bold;
font-size:17px;
border-radius:10px;
}


.col-3{
display:flex;
padding:20px;
width:25%;
background:-webkit-linear-gradient(left,#0C97FA,#0C97FA,#16E1F5);
border-radius:10px;
}

#formAjoutListe{
position:absolute;
left:40%;
top:2%;
width:40%;
display:inline-block;
}

.hello{
display:flex;
justify-content:center;
align-items:center;
position:absolute;
width:20%;
height:70%;
padding:50px;
background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
text-align:center;
-webkit-transition:height 2s ease-in-out;
-moz-transition:height 2s ease-in-out;
-o-transition:height 2s ease-in-out
transition:height 2s ease-in-out
text-align:center;
text-shadow:0px 0px 0px black;
font-size:50px;
font-weight:bold;
box-shadow:0px 0px 0px black;
}

.hello:hover{

position:absolute;
height:100%;
font-size:50px;
font-weight:bold;

background: linear-gradient(90deg, #3F2B96 0%, #A8C0FF 100%);
text-align:center;
box-shadow:0px 0px 5px #3F2B96;
}



